*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    text-align: center;
    margin: 10px;
}
/* NAVBAR */
.logo {
    width: 100px;
    height: 100px;
}
.navbar{
    background-color: #cacaca83 !important;
}
.links-nav{
    color: rgba(0, 0, 0, 0.64) !important;
    font-weight: 500;
}
.links-nav:hover{
    font-weight: 600 !important;
}
.links-nav:focus{
    font-weight: 600 !important;
    text-decoration: underline;
}

/* INICIO */
.inicio-container{
    height: 100vh;
}
.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover; /* Asegura que el video cubra todo el fondo */
    z-index: -1; /* Coloca el video detrás del contenido */
}
.inicio-text{
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    top: 30%;
    right: 22%;
    font-size: 2.5rem;
}
/* SECCION CARDS DE COMENTARIOS */
.card-container-primary{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    padding: 15px;
    margin: 10px 15px;
    border-radius: 12px;
    text-align: justify;
    background-color: #A2ACFF;
}
.card__stars{
    width: 10rem;
    height: 6rem;
    object-fit: cover;
}
.card__container-line{
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 20px;
    text-align: center;
    width: 17rem;
}

/* CONTACTO */

.contact-container{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 20px;
}
.contact-container-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.contact-container-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}
.contact-image{
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.btn-primary{
    background-color: #A2ACFF;
    color: #f5f5f5;
    padding: 8px 15px;
    border: none;
    border-radius: 8px;
    margin-bottom: 12px;
}

/* FOOTER */

.icon-redes{
    margin: 10px 15px;
}
.hecho-por-mi{
    padding: 12px;
}
@media (min-width: 1024px) {
    h1,h2,h3,h4,h5,h6{
        font-size: 150%;
    }

    /* INICIO */
    .video-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        object-fit: cover; /* Asegura que el video cubra todo el fondo */
        z-index: -1; /* Coloca el video detrás del contenido */
    }
    .inicio-text{
        position: relative;
        z-index: 1;
        color: white;
        text-align: center;
        top: 30%;
        right: 22%;
        font-size: 2.5rem;
    }

    /* NAVBAR */

    .links-nav{
        font-size: 1.2rem;
    }

    /* SECCION CARDS DE COMENTARIOS  */

    .card-container-primary{
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
    }
    .card-container{
        font-size: 130%;
    }
    .card__stars{
        width: 15rem;
        height: 9rem;
    }

    /* CONTACTO */

    .contact-container{
        display: flex;
        flex-direction: row;
        font-size: 130%;
        height: 100vh;
    }
    .contact-container-text{
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        font-size: 110%;
        margin: 30px 0;
    }
    .contact-container-icon{
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 15px;
    }
    .contact-image{
        width: 650px;
        height: 650px;
        object-fit: cover;
    }
    .btn-primary{
        background-color: #A2ACFF;
        color: #f5f5f5;
        padding: 8px 15px;
        border: none;
        border-radius: 8px;
        margin-bottom: 12px;
    }
    .icon-redes{
        width: 42px;
        height: 42px;
        margin-top: 10px;
    }
}