*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    text-align: center;
    margin: 10px;
}
/* NAVBAR */
.logo {
    width: 100px;
    height: 100px;
}
.navbar{
    background-color: #cacaca83 !important;
}
.links-nav{
    color: rgba(0, 0, 0, 0.56) !important;
}
.links-nav:hover{
    font-weight: 600 !important;
}
.links-nav:focus{
    font-weight: 600 !important;
    text-decoration: underline;
}

/* SECCION CARDS DE COMENTARIOS */
.card-container-primary{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    padding: 15px;
    margin: 10px 15px;
    border-radius: 12px;
    text-align: justify;
    background-color: aliceblue;
}
.card__stars{
    width: 10rem;
    height: 6rem;
    object-fit: cover;
}
.card__container-line{
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 20px;
    text-align: center;
    width: 17rem;
}
.icon-redes{
    margin: 10px 15px;
}
.hecho-por-mi{
    padding: 12px;
}
@media (min-width: 1024px) {
    h1,h2,h3,h4,h5,h6{
        font-size: 150%;
    }

    /* NAVBAR */

    .links-nav{
        font-size: 1.2rem;
    }

    /* SECCION CARDS DE COMENTARIOS  */

    .card-container-primary{
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
    }
    .card-container{
        font-size: 130%;
    }
    .card__stars{
        width: 15rem;
        height: 9rem;
    }
}